<section>
    <div>
        <h2>Post</h2>
        <p>Let's post something!</p>
    </div>
    <input value="{{post.id}}"/>
        <div> 
            <button>Delete Post</button>
            <button>Add New Post</button>                          
        </div>
</section>



